psutil>=7.0.0
watchdog>=6.0.0
rich>=14.1.0
python-dotenv>=1.1.1
click>=8.2.1
pytest>=8.4.1
dnspython>=2.7.0
email_validator>=2.2.0
tabulate>=0.9.0
PyYAML>=6.0.2
configparser>=7.2.0
markdown-it-py>=4.0.0
Pygments>=2.19.2
colorama>=0.4.6
